@page "/color-tool"

@using HelloWorldBlazorWASMApp.Shared;

<h3>Color Tool</h3>

<ul>
  @if (!colors.Any()) {
    <li>No Colors</li>
  }
  @foreach(var color in colors) {
    <li>@color.Name - @color.Hexcode</li>
  }
</ul>

<button @onclick="addPurple">Add Purple</button>

@code {

  private List<Color> colors = new List<Color>() {
    new Color() { Id=1, Name="red", Hexcode="ff0000" },
    new Color() { Id=2, Name="green", Hexcode="00ff00" },
    new Color() { Id=3, Name="blue", Hexcode="0000ff" },
  };

  private void addPurple()
  {
    colors.Add(new Color() { Id=4, Name="purple", Hexcode="ff00ff" });
  }

}
