@page "/color-tool"

@using HelloWorldBlazorWASMApp.Shared;

<ToolHeader HeaderText="Color Tool" />

<ColorList
  ColorActionText="X"
  ColorAction="@doDeleteColor"
  Colors="@(colors.Select(c => new Color() {
    Id = c.Id,
    Name = c.Name,
    Hexcode = "#" + c.Hexcode.ToUpper(),
  }))" />

<button @onclick="addPurple">Add Purple</button>

@code {

  private List<Color> colors = new List<Color>() {
    new Color() { Id=1, Name="red", Hexcode="ff0000" },
    new Color() { Id=2, Name="green", Hexcode="00ff00" },
    new Color() { Id=3, Name="blue", Hexcode="0000ff" },
  };

  private void addPurple()
  {
    colors.Add(new Color() { Id=4, Name="purple", Hexcode="ff00ff" });
  }

  private void doDeleteColor(int colorId) {
    colors = colors.Where(c => c.Id != colorId).ToList();
  }

}
